*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $primarycolor4;
    font-family: $font;
    font-size: 13px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;

    li{
        padding: 10px;
    }
}

a{
    text-decoration: none;
    color: $primarycolor;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
}

footer{
    text-align: center; 
    font-size: 15px; 
}