@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

$font:  'Manrope', sans-serif;

$primarycolor: hsl(217, 19%, 35%);
$primarycolor2:  hsl(214, 17%, 51%);
$primarycolor3: hsl(212, 23%, 69%);
$primarycolor4: hsl(210, 46%, 95%);
